/*
  Author: Aditya Saky (saky.in, @paradoxdjell on Github, @adityasaky on Gitlab)
  Organisation: Deus Ux
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,body {
  font-family: "Open Sans", "Helvetica Neue";
  font-size: 14px;
  line-height: 1.42857143;
}

.navbar-style {
  background-color: #000;
  border-radius: 0;
}

.input-group-style {
  margin: 10px;
}

.profile {
  margin-top: 10px;
}

.badge {
  background-color: #880000;
  color: #fff;
  display: inline-block;
  border-radius: 0;
  font-size: 14px;
}

.department-template {
  display: none;
}

.comment {
  border: 2px #333 dashed;
  padding: 5px 10px;
  margin-bottom: 10px;
}
